<a href="https://colab.research.google.com/github/Lambda-School-Labs/bridges-to-prosperity-ds-d/blob/add_new_cleaning_notebook/notebooks/unstructured_comment_cleaning_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning of Semi-Structured Comments

#### Basic Imports + Data loading

In [167]:
# importing the dataset given to us from Stakholder LABS28 - saved to github repo
import pandas as pd

xl_file = pd.ExcelFile('https://github.com/Lambda-School-Labs/bridges-to-prosperity-ds-d/blob/main/Data/B2P%20Dataset_2020.10.xlsx?raw=true')
dfs = {sheet_name: xl_file.parse(sheet_name) for sheet_name in xl_file.sheet_names}
print(dfs.keys())
df = dfs['Data']

dict_keys(['Data', 'Data Dictionary', 'Contextual Summary'])

In [168]:
# imports 
import re
import numpy as np

In [169]:
# create DF that still persists bridge code as well as comments section of every
# cell
comments_df = df[['Bridge Opportunity: Project Code', 'Bridge Opportunity: Comments']]
comments_df1 = comments_df.copy()
comments_df1.shape

(1472, 2)

In [170]:
# alter text to be normalized across all alterations
comments_df1['Bridge Opportunity: Comments'] = comments_df1['Bridge Opportunity: Comments'].str.lower()

In [171]:
comments_df1.head()

  Bridge Opportunity: Project Code                       Bridge Opportunity: Comments
0                          1009317              steep slopes to deal with for anchors
1                          1007325                                                NaN
2                          1007374  likely piloting steel decking on this bridge. ...
3                          1007466  3000-6000 people directly served, elevation:21...
4                          1007495  not duplicate 500-1000 people directly served,...

# Utilizing Regex to search each comment body
- In the following cells I am searching each comment body using regex to find information that matches the regular expression, then appending it to a list. I perform this action on a test_df that has 15 cells from which I make sure that the expression is correctly utilized. Once I have tested that, then I apply the function to the dataframe and create a new column with the information extracted.

### Elevation

#### Test Function - Elevation

In [172]:
test_df = comments_df1.head(15)

In [173]:
def elevationcreation(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('elevation:?(\d+\d+\d+)',s)
    if p:
      elev_col.append(int(p.group()[10:]))
    else:
      elev_col.append(p)
  return elev_col

In [174]:
# looking at the list created with the above function 
listus = elevationcreation(test_df)
print(listus)

[None, None, 1630, 2101, 1522, 1523, 1557, 1363, 2153, 1951, 1591, 1773, 1676, 1506, 1961]

In [175]:
# Creating a new column using the above information 
test_df['2013 Bridge Elevation (Meters)'] = elevationcreation(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [176]:
# Checking to see the new column addition
test_df.head()

  Bridge Opportunity: Project Code  ... 2013 Bridge Elevation (Meters)
0                          1009317  ...                            NaN
1                          1007325  ...                            NaN
2                          1007374  ...                         1630.0
3                          1007466  ...                         2101.0
4                          1007495  ...                         1522.0

[5 rows x 3 columns]

#### Apply function to entire Dataframe

In [177]:
comments_df1['2013_bridge_elevation_meters'] = elevationcreation(comments_df1)

In [178]:
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_bridge_elevation_meters
0                          1009317  ...                          NaN
1                          1007325  ...                          NaN
2                          1007374  ...                       1630.0
3                          1007466  ...                       2101.0
4                          1007495  ...                       1522.0

[5 rows x 3 columns]

### Cell

#### Apply to test df

In [179]:
def cell_location(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('cell:?(\w+\S\w+)',s)
    if p:
      elev_col.append(str(p.group()[5:]))
    else:
      elev_col.append(p)
  return elev_col

In [180]:
# looking at the list created with the above function 
listus = cell_location(test_df)
print(listus)

[None, None, 'karambi-gasumba', 'rugogwe', 'gasave', 'gasave-rwesero', 'nyabinyenga', 'gatare-nyamabuye', 'remera-ruyenzi', 'kabere-nyabimata', 'yaramba', 'ngarurira-nyange', 'muhambara-nteko', 'nyamirama', 'cyanyirankora']

In [181]:
# create the new column to hold the information 
test_df['2013 Cell'] = cell_location(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [182]:
# see column in test df
test_df.head(5)

  Bridge Opportunity: Project Code  ...        2013 Cell
0                          1009317  ...             None
1                          1007325  ...             None
2                          1007374  ...  karambi-gasumba
3                          1007466  ...          rugogwe
4                          1007495  ...           gasave

[5 rows x 4 columns]

#### Apply to actual df

In [183]:
comments_df1['2013_Cell'] = cell_location(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ...        2013_Cell
0                          1009317  ...             None
1                          1007325  ...             None
2                          1007374  ...  karambi-gasumba
3                          1007466  ...          rugogwe
4                          1007495  ...           gasave

[5 rows x 4 columns]

### Bridge Connecting

Passed the test, there are enough to persist the data in these areas

In [184]:
# create test to run function 
test_df.head()

  Bridge Opportunity: Project Code  ...        2013 Cell
0                          1009317  ...             None
1                          1007325  ...             None
2                          1007374  ...  karambi-gasumba
3                          1007466  ...          rugogwe
4                          1007495  ...           gasave

[5 rows x 4 columns]

In [185]:
def bridge_connecting(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('bridge\swould\sconnecting\s(\w+\S\w+)',s)
    if p:
      elev_col.append(str(p.group()[24:]))
    else:
      elev_col.append(p)
  return elev_col

In [186]:
listus = bridge_connecting(test_df)
print(listus)

[None, None, None, None, None, 'nyamagabe-ruhango', None, None, None, None, None, None, None, None, None]

In [187]:
test_df['2013_bridge_connecting'] = bridge_connecting(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [188]:
test_df['2013_bridge_connecting'].value_counts()

nyamagabe-ruhango    1
Name: 2013_bridge_connecting, dtype: int64

In [189]:
comments_df1['2013_bridge_connects'] = bridge_connecting(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_bridge_connects
0                          1009317  ...                 None
1                          1007325  ...                 None
2                          1007374  ...                 None
3                          1007466  ...                 None
4                          1007495  ...                 None

[5 rows x 5 columns]

In [190]:
comments_df1['2013_bridge_connects'].value_counts()

bugesera-kicukiro      3
rulindo-gasabo         2
nyanza-nyamagabe       1
nyarugenge-gasabo      1
nyaruguru-nyamagabe    1
muhanga-gakenke        1
ngororero-rutsiro      1
nyamagabe-ruhango      1
ngoma-bugesera         1
nyamagabe-nyanza       1
bugesera-rwamagana     1
Name: 2013_bridge_connects, dtype: int64

### Cross River on Normal Day 
- number of people that cross the river on a normal day

In [191]:
def cross_river_day(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  num_cross = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('cross\sriver\son\sa\snormal\sday\S(\w+\S\w+)',s)
    if p:
      num_cross.append(str(p.group()[28:]))
    else:
      num_cross.append(p)
  return num_cross

In [192]:
listus = cross_river_day(test_df)
print(listus)

[None, None, None, '300-600', '50-150', '50-150', '50-150', '300-600', '150-300', '150-300', '50-150', '300-600', '300-600', '300-600', '300-600']

In [193]:
test_df['2013_cross_river_day'] = cross_river_day(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [194]:
test_df['2013_cross_river_day'].value_counts()

300-600    6
50-150     4
150-300    2
Name: 2013_cross_river_day, dtype: int64

In [195]:
test_df.head()

  Bridge Opportunity: Project Code  ... 2013_cross_river_day
0                          1009317  ...                 None
1                          1007325  ...                 None
2                          1007374  ...                 None
3                          1007466  ...              300-600
4                          1007495  ...               50-150

[5 rows x 6 columns]

Apply to Actual Dataframe

In [196]:
comments_df1['2013_cross_river_perday'] = cross_river_day(comments_df1)

In [197]:
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_cross_river_perday
0                          1009317  ...                    None
1                          1007325  ...                    None
2                          1007374  ...                    None
3                          1007466  ...                 300-600
4                          1007495  ...                  50-150

[5 rows x 6 columns]

## Nearby City Centers

In [198]:
def nearby_city_centers(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('nearby\scity\scenters-(\S\w+\s)*\S\w+',s)
    if p:
      elev_col.append(str(p.group()[20:]))
    else:
      elev_col.append(p)
  return elev_col

In [199]:
listus = nearby_city_centers(test_df)

print(listus)

[None, None, '-karambi -nyamagabe', '-kizimyamuriro', '-rwesero -giti -butare', '-masizi -buhanda', '-cyabakamyi -cyarwa', '-nyabugogo -yanza', '-gisanze -remera', '-mpuza', 'yaramba', '-ndago', '-kubitiro -rebero', '-gihembe -kabuga -rwamiko', '-kaganza -kajwanga']

In [200]:
test_df['2013_nearby_city_centers'] = nearby_city_centers(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [201]:
test_df['2013_nearby_city_centers'].value_counts()
# TODO - replace '-' character with whitespace, add commas between cities

yaramba                      1
-masizi -buhanda             1
-mpuza                       1
-gihembe -kabuga -rwamiko    1
-kaganza -kajwanga           1
-gisanze -remera             1
-kizimyamuriro               1
-ndago                       1
-nyabugogo -yanza            1
-cyabakamyi -cyarwa          1
-karambi -nyamagabe          1
-kubitiro -rebero            1
-rwesero -giti -butare       1
Name: 2013_nearby_city_centers, dtype: int64

Apply to full dataframe

In [202]:
comments_df1['2013_nearby_city_centers'] = nearby_city_centers(comments_df1)

In [203]:
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_nearby_city_centers
0                          1009317  ...                     None
1                          1007325  ...                     None
2                          1007374  ...      -karambi -nyamagabe
3                          1007466  ...           -kizimyamuriro
4                          1007495  ...   -rwesero -giti -butare

[5 rows x 7 columns]

## Dangerous to cross the river
- amount of time throughout the year in which the river is too dangerous to cross

In [204]:
def dangerous_to_cross(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('dangerous\sto\scross\sthe\sriver\S\d-\d+',s)
    if p:
      elev_col.append(str(p.group()[29:]))
    else:
      elev_col.append(p)
  return elev_col

In [205]:
listus = dangerous_to_cross(test_df)

print(listus)

[None, None, '6-9', '3-6', '3-6', '9-12', '3-6', '3-6', '6-9', '3-6', '1-3', '9-12', '3-6', '1-3', '3-6']

In [206]:
test_df['2013_dangerous_to_cross_months'] = dangerous_to_cross(test_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [207]:
test_df.head()

  Bridge Opportunity: Project Code  ... 2013_dangerous_to_cross_months
0                          1009317  ...                           None
1                          1007325  ...                           None
2                          1007374  ...                            6-9
3                          1007466  ...                            3-6
4                          1007495  ...                            3-6

[5 rows x 8 columns]

Apply to DataFrame

In [208]:
comments_df1['2013_dangerous_to_cross(months)'] = dangerous_to_cross(comments_df1)

In [209]:
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_dangerous_to_cross(months)
0                          1009317  ...                            None
1                          1007325  ...                            None
2                          1007374  ...                             6-9
3                          1007466  ...                             3-6
4                          1007495  ...                             3-6

[5 rows x 8 columns]

## Crossing River now
- The current situation being used to cross the river

In [210]:
def crossing_river_now(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('crossing\sriver\snow-(\w+\s)*',s)
    if p:
      elev_col.append(str(p.group()[19:]))
    else:
      elev_col.append(p)
  return elev_col

In [211]:
listus = crossing_river_now(test_df)

print(listus)

[None, None, 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'swim ', 'walking through river ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ', 'simple timber bridge ']

In [212]:
test_df['2013_current_river_crossing'] = crossing_river_now(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_current_river_crossing
0                          1009317  ...                        None
1                          1007325  ...                        None
2                          1007374  ...       simple timber bridge
3                          1007466  ...       simple timber bridge
4                          1007495  ...       simple timber bridge

[5 rows x 9 columns]

Apply to entire DF

In [213]:
comments_df1['2013_current_river_crossing'] = crossing_river_now(comments_df1)

comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_current_river_crossing
0                          1009317  ...                        None
1                          1007325  ...                        None
2                          1007374  ...       simple timber bridge
3                          1007466  ...       simple timber bridge
4                          1007495  ...       simple timber bridge

[5 rows x 9 columns]

## Travel to nearest safe bridge/river crossing

In [214]:
# Travel to nearest safe bridge/river crossing->3 hours
# this one has some instances where -> or - to id the time to crossing

In [215]:
def nearest_safe_bridge(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column.""" 
  elev_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('travel\sto\snearest\ssafe\sbridge\Sriver\scrossing\S{1,2}(\d-?\d?)',s)
    if p:
      elev_col.append(str(p.group()[45:]))
    else:
      elev_col.append(p)
  return elev_col

In [216]:
listus = nearest_safe_bridge(test_df)

print(listus)

[None, None, '>3', '2-3', '>3', '2-3', '2-3', '1-2', '2-3', '2-3', '1-2', '2-3', '2-3', '>3', '2-3']

In [217]:
test_df['2013_time_to_nearest_safe_crossing_hours'] = nearest_safe_bridge(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_nearest_safe_crossing_hours
0                          1009317  ...                                     None
1                          1007325  ...                                     None
2                          1007374  ...                                       >3
3                          1007466  ...                                      2-3
4                          1007495  ...                                       >3

[5 rows x 10 columns]

In [218]:
test_df['2013_time_to_nearest_safe_crossing_hours'] = test_df['2013_time_to_nearest_safe_crossing_hours'].str.replace('>', ' ')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [219]:
test_df['2013_time_to_nearest_safe_crossing_hours'].value_counts()

2-3    8
 3     3
1-2    2
Name: 2013_time_to_nearest_safe_crossing_hours, dtype: int64

apply to dataframe

In [220]:
comments_df1['2013_time_to_nearest_safe_crossing_hours'] = nearest_safe_bridge(comments_df1)
# comments_df1['2013_time_to_nearest_safe_crossing(Hours_walking)'] = comments_df1['2013_time_to_nearest_safe_crossing(Hours_walking)'].str.replace('>', '')
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_to_nearest_safe_crossing_hours
0                          1009317  ...                                     None
1                          1007325  ...                                     None
2                          1007374  ...                                       >3
3                          1007466  ...                                      2-3
4                          1007495  ...                                       >3

[5 rows x 10 columns]

## Hours Walking to reach hospital

In [221]:
def hours_to_hospital(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\sthe\shospital\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[36:]))
    else:
      new_col.append(p)
  return new_col

In [222]:
listus = hours_to_hospital(test_df)

print(listus)

[None, None, '0.5-1', '>6 ', '2-6', '2-6', '>6 ', '0.5', '>6 ', '>6 ', '>6 ', '0.5-1', '2-6', '2-6', '>6 ']

In [223]:
test_df['2013_time_to_nearest_hospital(Hours_walking)'] = hours_to_hospital(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_nearest_hospital(Hours_walking)
0                          1009317  ...                                         None
1                          1007325  ...                                         None
2                          1007374  ...                                        0.5-1
3                          1007466  ...                                          >6
4                          1007495  ...                                          2-6

[5 rows x 11 columns]

Apply to dataframe

In [224]:
comments_df1['2013_time_to_nearest_hospital_hours'] = hours_to_hospital(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_to_nearest_hospital_hours
0                          1009317  ...                                None
1                          1007325  ...                                None
2                          1007374  ...                               0.5-1
3                          1007466  ...                                 >6
4                          1007495  ...                                 2-6

[5 rows x 11 columns]

## Hours walking to reach the Health Center

In [225]:
def hours_to_healthcenter(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\sthe\shealth\scenter\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[41:]))
    else:
      new_col.append(p)
  return new_col

In [226]:
listus = hours_to_healthcenter(test_df)

print(listus)

[None, None, '0.5', '0.5-1', None, '1-2', '1-2', '0.5', '2-6', '0.5', '1-2', '0.5', '1-2', '0.5-1', '1-2']

In [227]:
test_df['2013_time_to_nearest_health_center(Hours_walking)'] = hours_to_healthcenter(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_nearest_health_center(Hours_walking)
0                          1009317  ...                                              None
1                          1007325  ...                                              None
2                          1007374  ...                                               0.5
3                          1007466  ...                                             0.5-1
4                          1007495  ...                                              None

[5 rows x 12 columns]

Apply to Dataframe

In [228]:
comments_df1['2013_time_health_center_hours'] = hours_to_healthcenter(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_health_center_hours
0                          1009317  ...                          None
1                          1007325  ...                          None
2                          1007374  ...                           0.5
3                          1007466  ...                         0.5-1
4                          1007495  ...                          None

[5 rows x 12 columns]

## Hours Walking to reach the market

In [229]:
def hours_to_market(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\sthe\shealth\scenter\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[41:]))
    else:
      new_col.append(p)
  return new_col

In [230]:
listus = hours_to_healthcenter(test_df)

print(listus)

[None, None, '0.5', '0.5-1', None, '1-2', '1-2', '0.5', '2-6', '0.5', '1-2', '0.5', '1-2', '0.5-1', '1-2']

In [231]:
test_df['2013_time_to_market(Hours_walking)'] = hours_to_market(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_market(Hours_walking)
0                          1009317  ...                               None
1                          1007325  ...                               None
2                          1007374  ...                                0.5
3                          1007466  ...                              0.5-1
4                          1007495  ...                               None

[5 rows x 13 columns]

Apply to DataFrame

In [232]:
comments_df1['2013_time_market_hours'] = hours_to_market(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_market_hours
0                          1009317  ...                   None
1                          1007325  ...                   None
2                          1007374  ...                    0.5
3                          1007466  ...                  0.5-1
4                          1007495  ...                   None

[5 rows x 13 columns]

In [233]:
comments_df1['2013_time_market_hours'].value_counts().sum()

249

## Hours Walking to reach primary school

In [234]:
def hours_to_primary_school(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\sprimary\sschool\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[38:]))
    else:
      new_col.append(p)
  return new_col

In [235]:
listus = hours_to_primary_school(test_df)

print(listus)

[None, None, '0.5', '0.5-1', '0.5-1', '0.5-1', '0.5-1', '0.5', '0.5', '0.5', '0.5-1', '0.5', '0.5-1', '0.5-1', '0.5']

In [236]:
test_df['2013_time_to_primary_school_hours'] = hours_to_primary_school(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_primary_school_hours
0                          1009317  ...                              None
1                          1007325  ...                              None
2                          1007374  ...                               0.5
3                          1007466  ...                             0.5-1
4                          1007495  ...                             0.5-1

[5 rows x 14 columns]

Apply to DataFrame

In [237]:
comments_df1['2013_time_primary_school_hours'] = hours_to_primary_school(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_primary_school_hours
0                          1009317  ...                           None
1                          1007325  ...                           None
2                          1007374  ...                            0.5
3                          1007466  ...                          0.5-1
4                          1007495  ...                          0.5-1

[5 rows x 14 columns]

## Hours Walking to reach secondary school

In [238]:
def hours_to_secondary_school(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\ssecondary\sschool\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[40:]))
    else:
      new_col.append(p)
  return new_col

In [239]:
listus = hours_to_secondary_school(test_df)

print(listus)

[None, None, '0.5', '0.5-1', '1-2', '0.5-1', '1-2', '0.5', '0.5', '0.5', '0.5-1', '0.5', '0.5-1', '0.5-1', '0.5']

In [240]:
test_df['2013_time_to_secondary_school_hours'] = hours_to_secondary_school(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_secondary_school_hours
0                          1009317  ...                                None
1                          1007325  ...                                None
2                          1007374  ...                                 0.5
3                          1007466  ...                               0.5-1
4                          1007495  ...                                 1-2

[5 rows x 15 columns]

Apply to DataFrame

In [241]:
comments_df1['2013_time_secondary_school_hours'] = hours_to_secondary_school(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_secondary_school_hours
0                          1009317  ...                             None
1                          1007325  ...                             None
2                          1007374  ...                              0.5
3                          1007466  ...                            0.5-1
4                          1007495  ...                              1-2

[5 rows x 15 columns]

In [242]:
comments_df1['2013_time_secondary_school_hours'].value_counts().sum()

253

## Hours Walking to Reach the Church

In [243]:

def hours_to_church(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('hours\swalking\sto\sreach\sthe\schurch\S{1,2}(\d.?\d?-?\d?)',s)
    if p:
      new_col.append(str(p.group()[34:]))
    else:
      new_col.append(p)
  return new_col

In [244]:
listus = hours_to_church(test_df)

print(listus)

[None, None, '0.5', '0.5-1', '0.5-1', '0.5-1', '0.5-1', '0.5', '0.5', '0.5', '0.5-1', '0.5', '0.5-1', '0.5', '0.5']

In [245]:
test_df['2013_time_to_church(Hours_walking)'] = hours_to_church(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_time_to_church(Hours_walking)
0                          1009317  ...                               None
1                          1007325  ...                               None
2                          1007374  ...                                0.5
3                          1007466  ...                              0.5-1
4                          1007495  ...                              0.5-1

[5 rows x 16 columns]

In [246]:
comments_df1['2013_time_to_church_hours'] = hours_to_church(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_time_to_church_hours
0                          1009317  ...                      None
1                          1007325  ...                      None
2                          1007374  ...                       0.5
3                          1007466  ...                     0.5-1
4                          1007495  ...                     0.5-1

[5 rows x 16 columns]

In [247]:
comments_df1['2013_time_to_church_hours'].value_counts().sum()

253

## Land within 50m of river bank

In [248]:

def land_within_50m(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('land\swithin\s50m\sof\sriver\sbank-(\w+.?.?\w+\s?\w+.?)',s)
    if p:
      new_col.append(str(p.group()[30:]))
    else:
      new_col.append(p)
  return new_col

In [249]:
listus = land_within_50m(test_df)

print(listus)

[None, None, 'flat (flood plain)', 'hilly ', 'flat (flood plain)', 'flat (flood plain)', 'flat (flood plain)', 'flat (flood plain)', 'hilly ', 'hilly ', 'flat (flood plain)', 'flat (flood plain)', 'hilly ', 'flat (flood plain)', 'hilly ']

In [250]:
test_df['2013_land_within_50m'] = land_within_50m(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_land_within_50m
0                          1009317  ...                 None
1                          1007325  ...                 None
2                          1007374  ...   flat (flood plain)
3                          1007466  ...               hilly
4                          1007495  ...   flat (flood plain)

[5 rows x 17 columns]

Apply to DataFrame

In [251]:
comments_df1['2013_land_within_50m'] = land_within_50m(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_land_within_50m
0                          1009317  ...                 None
1                          1007325  ...                 None
2                          1007374  ...   flat (flood plain)
3                          1007466  ...               hilly
4                          1007495  ...   flat (flood plain)

[5 rows x 17 columns]

In [252]:
comments_df1['2013_land_within_50m'].value_counts().sum()

253

## Soil 
- type of soil at the site

In [253]:
def soil_type(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('soil-(\w+\s?\w+.?)',s)
    if p:
      new_col.append(str(p.group()[5:]))
    else:
      new_col.append(p)
  return new_col

In [254]:
listus = soil_type(test_df)
print(listus)

[None, None, 'silt,', 'hard rock/', 'silt,', 'silt,', 'silt,', 'silt,', 'sandy/', 'hard rock/', 'silt,', 'silt,', 'silt,', 'silt,', 'hard rock/']

In [255]:
test_df['soil_type'] = soil_type(test_df)
test_df['soil_type'] = test_df['soil_type'].str.replace(',', '')
test_df['soil_type'] = test_df['soil_type'].str.replace('/', '')
test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Bridge Opportunity: Project Code  ...  soil_type
0                          1009317  ...       None
1                          1007325  ...       None
2                          1007374  ...       silt
3                          1007466  ...  hard rock
4                          1007495  ...       silt

[5 rows x 18 columns]

In [256]:
test_df['soil_type'].value_counts()

silt         9
hard rock    3
sandy        1
Name: soil_type, dtype: int64

In [257]:
comments_df1['soil_type'] = soil_type(comments_df1)
comments_df1['soil_type'] = comments_df1['soil_type'].str.replace(',', '')
comments_df1['soil_type'] = comments_df1['soil_type'].str.replace('/', '')
comments_df1.head()

  Bridge Opportunity: Project Code  ...  soil_type
0                          1009317  ...       None
1                          1007325  ...       None
2                          1007374  ...       silt
3                          1007466  ...  hard rock
4                          1007495  ...       silt

[5 rows x 18 columns]

In [258]:
comments_df1['soil_type'].value_counts().sum()

253

## Sand 
- type of sand at the site

In [259]:
def sand_provided_by(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('sand\sprovided\sby-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[17:]))
    else:
      new_col.append(p)
  return new_col

In [260]:
listus = sand_provided_by(test_df)
print(listus)

[None, None, 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector', 'sector']

In [261]:
test_df['2013_sand_provided_by'] = sand_provided_by(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_sand_provided_by
0                          1009317  ...                  None
1                          1007325  ...                  None
2                          1007374  ...                sector
3                          1007466  ...                sector
4                          1007495  ...                sector

[5 rows x 19 columns]

In [262]:
comments_df1['2013_sand_provided_by'] = sand_provided_by(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_sand_provided_by
0                          1009317  ...                  None
1                          1007325  ...                  None
2                          1007374  ...                sector
3                          1007466  ...                sector
4                          1007495  ...                sector

[5 rows x 19 columns]

In [263]:
comments_df1['2013_sand_provided_by'].value_counts().sum()

254

## Gravel Provided by

In [264]:
def gravel_provided_by(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('gravel\sprovided\sby-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[19:]))
    else:
      new_col.append(p)
  return new_col

In [265]:
listus = gravel_provided_by(test_df)
print(listus)

[None, None, 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district']

In [266]:
test_df['2013_gravel_provided_by'] = gravel_provided_by(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_gravel_provided_by
0                          1009317  ...                    None
1                          1007325  ...                    None
2                          1007374  ...                district
3                          1007466  ...                district
4                          1007495  ...                district

[5 rows x 20 columns]

In [267]:
comments_df1['2013_gravel_provided_by'] = gravel_provided_by(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_gravel_provided_by
0                          1009317  ...                    None
1                          1007325  ...                    None
2                          1007374  ...                district
3                          1007466  ...                district
4                          1007495  ...                district

[5 rows x 20 columns]

In [268]:
comments_df1['2013_gravel_provided_by'].value_counts()

district                            191
sector                               49
                                     12
can not be provided at the time       2
Name: 2013_gravel_provided_by, dtype: int64

## Timber Provided by

In [269]:
def timber_provided_by(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('timber\sprovided\sby-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[19:]))
    else:
      new_col.append(p)
  return new_col

In [270]:
listus = timber_provided_by(test_df)
print(listus)

[None, None, 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district', 'district']

In [271]:
test_df['2013_timber_provided_by'] = gravel_provided_by(test_df)

test_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Bridge Opportunity: Project Code  ... 2013_timber_provided_by
0                          1009317  ...                    None
1                          1007325  ...                    None
2                          1007374  ...                district
3                          1007466  ...                district
4                          1007495  ...                district

[5 rows x 21 columns]

In [272]:
comments_df1['2013_timber_provided_by'] = timber_provided_by(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_timber_provided_by
0                          1009317  ...                    None
1                          1007325  ...                    None
2                          1007374  ...                district
3                          1007466  ...                district
4                          1007495  ...                district

[5 rows x 21 columns]

In [273]:
comments_df1['2013_timber_provided_by'].value_counts()

district                            171
sector                               78
can not be provided at the time       3
                                      2
Name: 2013_timber_provided_by, dtype: int64

## Cement provided by

In [274]:

def cement_provided_by(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('cement\sprovided\sby-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[19:]))
    else:
      new_col.append(p)
  return new_col

In [275]:
listus = cement_provided_by(test_df)
print(listus)

[None, None, 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ']

In [276]:
comments_df1['2013_cement_provided_by'] = cement_provided_by(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ...           2013_cement_provided_by
0                          1009317  ...                              None
1                          1007325  ...                              None
2                          1007374  ...  can not be provided at the time
3                          1007466  ...  can not be provided at the time
4                          1007495  ...  can not be provided at the time

[5 rows x 22 columns]

In [277]:
comments_df1['2013_cement_provided_by'].value_counts()

can not be provided at the time     249
district                              3
                                      2
Name: 2013_cement_provided_by, dtype: int64

## Reinforcement Steel provided by

In [278]:


def reinforcement_steel_provided_by(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('reinforcement\ssteel\sprovided\sby-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[32:]))
    else:
      new_col.append(p)
  return new_col

In [279]:
listus = reinforcement_steel_provided_by(test_df)
print(listus)

[None, None, 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ', 'can not be provided at the time ']

In [280]:
comments_df1['2013_reinforcement_steel_provided_by'] = reinforcement_steel_provided_by(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_reinforcement_steel_provided_by
0                          1009317  ...                                 None
1                          1007325  ...                                 None
2                          1007374  ...     can not be provided at the time
3                          1007466  ...     can not be provided at the time
4                          1007495  ...     can not be provided at the time

[5 rows x 23 columns]

In [281]:
comments_df1['2013_reinforcement_steel_provided_by'].value_counts()

can not be provided at the time     249
district                              3
                                      2
Name: 2013_reinforcement_steel_provided_by, dtype: int64

## Land Ownership

In [282]:

def land_ownership(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('land\sownership-(\w+\s?)*',s)
    if p:
      new_col.append(str(p.group()[15:]))
    else:
      new_col.append(p)
  return new_col

In [283]:
listus = land_ownership(test_df)
print(listus)

[None, None, 'private landowner', 'government of rwanda ', 'private landowner', 'government of rwanda ', 'private landowner', 'government of rwanda ', 'government of rwanda ', 'government of rwanda ', 'government of rwanda ', 'government of rwanda ', 'private landowner', 'private landowner', 'private landowner']

In [284]:
comments_df1['2013_land_ownership'] = land_ownership(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ...    2013_land_ownership
0                          1009317  ...                   None
1                          1007325  ...                   None
2                          1007374  ...      private landowner
3                          1007466  ...  government of rwanda
4                          1007495  ...      private landowner

[5 rows x 24 columns]

In [285]:
comments_df1['2013_land_ownership'].value_counts()

government of rwanda     201
private landowner         51
                           2
Name: 2013_land_ownership, dtype: int64

## Land Ownership Permission

In [286]:

def land_ownership_permission(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = re.search('land\sownership\spermission-(\w+?)*',s)
    if p:
      new_col.append(str(p.group()[26:]))
    else:
      new_col.append(p)
  return new_col

In [287]:
listus = land_ownership_permission(test_df)
print(listus)

[None, None, 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes']

In [288]:
comments_df1['2013_land_ownership_permission'] = land_ownership_permission(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ... 2013_land_ownership_permission
0                          1009317  ...                           None
1                          1007325  ...                           None
2                          1007374  ...                            yes
3                          1007466  ...                            yes
4                          1007495  ...                            yes

[5 rows x 25 columns]

In [289]:
comments_df1['2013_land_ownership_permission'].value_counts()

yes    252
         2
Name: 2013_land_ownership_permission, dtype: int64

## General Comments 

- This one could use refactoring in the future, need to move on to other things. For now the General comments will stay in one block of text.

In [290]:

def general_comments(df):
  """ This function Iterates through every row in the inputed Dataframe. 
  It will save over the variable s with the contents of the row for "Bridge Opportunity: Comments". 
  It then uses RegEx to identify cases of elevation in the text data. If a match is found it is apppended to 
  an empty list. if there is no match "none" is appended to the list. Upon reaching the end of the Dataframe 
  the list is returned and used to create a new column. Hours walking to reach the Hospital-0.5-1""" 
  new_col = []
  for i, row in df.iterrows():
    s = str(row["Bridge Opportunity: Comments"])
    p = s.partition('general comments-')[-1]
    if p:
      new_col.append(p)
    else:
      new_col.append(None)
  return new_col

In [291]:
listus = general_comments(test_df)
print(listus)

[None, None, 'the proposed bridge location is near the traditional crossing point at a distance of approximately 10m.-the proposed bridge span is approximately 70m.-the level difference between two banks is 0.06m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is not showing any sign of erosion and it is located between flat areas.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 1m.-the proposed bridge span is approximately 55m.-the level difference between two banks is 0.2m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is not showing any sign of erosion and it is located between elevated areas.-the soil from the site is hard rock for one side and silt for the other side.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 3m.-the proposed bridge span is approximately 30m.-the level difference between two banks is 0.02m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is not sufficient-there is confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between flat areas.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 20m.-the proposed bridge span is approximately 100m.-the level difference between two banks is 0.1m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between two flat areas.-the soil from the site is silt for both sides. <<on 25th march, 2019 _in the beginning of scaling, this site was rejected by the assessor thinking that it will be a very long span bridge out of b2p standard but having the plan to survey nyakabuye - nkomane over a joining river"nkomane", this nyakabuye - mwogo site over mwogo river was surveyed and found to be technically feasible. >>>', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 2m.-the proposed bridge span is approximately 20m.-the level difference between two banks is 0.2m.-the space for foundation is sufficient -the free board between the lowest point of the proposed bridge and the highest flood level is not sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between elevated areas.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 8m.-the proposed bridge span is approximately 32m.-the level difference between two banks is 0.04m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is not sufficient-there is confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between flat areas.-the soil from the site is silt for both sides.-the bridge site was formerly called yanza.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 30m.-the proposed bridge span is approximately 70m.-the level difference between two banks is 0.05m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion.-the soil from the site is silt for one side and hard rock for other side', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 1m.-the proposed bridge span is approximately 28m.-the level difference between two banks is 2m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is not showing any sign of erosion and it is located between hills.-the soil from the site is hard rock for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 5m.-the proposed bridge span is approximately 40m.-the level difference between two banks is 0.02m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is not sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between flat areas.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 25m.-the proposed bridge span is approximately 100m.-the level difference between two banks is 1.2m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 4m.-the proposed bridge span is approximately 55m.-the level difference between two banks is 0.5m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is not showing any sign of erosion and it is located between elevated areas.-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 1m.-the proposed bridge span is approximately 30m.-the level difference between two banks is 0.01m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is showing a sign of erosion and it is located between flat areas-the soil from the site is silt for both sides.', 'the proposed bridge location is near the traditional crossing point at a distance of approximately 4m.-the proposed bridge span is approximately 55m.-the level difference between two banks is 0.05m.-the space for foundation is sufficient-the free board between the lowest point of the proposed bridge and the highest flood level is sufficient-there is no confluence area near the place.-the river bed at the site is stable, there is no possibility of erosion.-the river bank of the site is not showing any sign of erosion and it is located between hills.-the soil from the site is hard rock for both sides.']

In [292]:
comments_df1['2013_general_comments'] = general_comments(comments_df1)
comments_df1.head()

  Bridge Opportunity: Project Code  ...                              2013_general_comments
0                          1009317  ...                                               None
1                          1007325  ...                                               None
2                          1007374  ...  the proposed bridge location is near the tradi...
3                          1007466  ...  the proposed bridge location is near the tradi...
4                          1007495  ...  the proposed bridge location is near the tradi...

[5 rows x 26 columns]

In [293]:
comments_df1['2013_general_comments'].value_counts().sum()

243

# Merge Dataset
- Here we put together the newly pulled out features from the "Bridge Opportunity: Comments" column and merge it with the original Dataset. This will be a "aesthetic" dataset used for better understanding of the bridge site and persisting the original data.

In [331]:
# original shape of dataframe created by the feature engineering of new columns
comments_df1.shape

(1472, 26)

In [319]:
# renaming the columns in the comments_dataframe to properly merge with previous data
comments_df1.rename({'Bridge Opportunity: Project Code': 'bridge_opportunity_project_code', 'Bridge Opportunity: Comments': 'bridge_opportunity_comments'}, axis=1, inplace=True)
comments_df1.head(1)

  bridge_opportunity_project_code  ... 2013_general_comments
0                         1009317  ...                  None

[1 rows x 26 columns]

In [318]:
# importing the cleaned csv file from teammate that has columns according to
# proper storage conventions with columns
df_cleaned = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/bridges-to-prosperity-ds-d/main/Data/cleaned_dataset.csv')

df_cleaned.shape
df_cleaned.head(1)

  bridge_name  ... country
0     Bukinga  ...  Rwanda

[1 rows x 44 columns]

In [320]:
# new columns merged with previous data
df_cleaned_merge = df_cleaned.merge(comments_df1, how='inner', on='bridge_opportunity_project_code')

In [321]:
# making sure all columns are accounted for
df_cleaned_merge.columns

Index(['bridge_name', 'bridge_opportunity_project_code',
       'bridge_opportunity_needs_assessment',
       'bridge_opportunity_level1_government',
       'bridge_opportunity_level2_government', 'bridge_opportunity_stage',
       'bridge_opportunity_gps_latitude', 'bridge_opportunity_gps_longitude',
       'bridge_opportunity_bridge_type', 'bridge_opportunity_span_m',
       'bridge_opportunity_individuals_directly_served',
       'bridge_opportunity_comments_x', 'form_form_name', 'form_created_by',
       'proposed_bridge_location_gps_latitude',
       'proposed_bridge_location_gps_longitude', 'current_crossing_method',
       'nearest_all_weather_crossing_point', 'days_per_year_river_is_flooded',
       'flood_duration_during_rainy_season', 'market_access_blocked_by_river',
       'education_access_blocked_by_river', 'health_access_blocked_by_river',
       'other_access_blocked_by_river', 'primary_occupations',
       'primary_crops_grown', 'river_crossing_deaths_in_last_3_years',
       'river_crossing_injuries_in_last_3_years', 'incident_descriptions',
       'notes_on_social_information', 'cell_service_quality',
       'four_wd _accessibility', 'name_of_nearest_city',
       'name_of_nearest_paved_or_sealed_road', 'bridge_classification',
       'flag_for_rejection', 'rejection_reason', 'bridge_type',
       'estimated_span_m', 'height_differential_between_banks',
       'bridge_opportunity_general_project_photos',
       'bridge_opportunity_casesafeid', 'senior_engineering_review_conducted',
       'country', 'bridge_opportunity_comments_y',
       '2013_bridge_elevation_meters', '2013_Cell', '2013_bridge_connects',
       '2013_cross_river_perday', '2013_nearby_city_centers',
       '2013_dangerous_to_cross(months)', '2013_current_river_crossing',
       '2013_time_to_nearest_safe_crossing_hours',
       '2013_time_to_nearest_hospital_hours', '2013_time_health_center_hours',
       '2013_time_market_hours', '2013_time_primary_school_hours',
       '2013_time_secondary_school_hours', '2013_time_to_church_hours',
       '2013_land_within_50m', 'soil_type', '2013_sand_provided_by',
       '2013_gravel_provided_by', '2013_timber_provided_by',
       '2013_cement_provided_by', '2013_reinforcement_steel_provided_by',
       '2013_land_ownership', '2013_land_ownership_permission',
       '2013_general_comments'],
      dtype='object')

In [ ]:
# columns to drop: extra column created by merge

df_cleaned_merge = df_cleaned_merge.drop(columns = 'bridge_opportunity_comments_y')

In [327]:
# rename column in original dataset that has a x added during the merge duplication
df_cleaned_merge.rename({'bridge_opportunity_comments_x': 'bridge_opportunity_comments'}, axis=1, inplace=True)
df_cleaned_merge.head(1)

  bridge_name  ... 2013_general_comments
0     Bukinga  ...                  None

[1 rows x 68 columns]

In [328]:
# Export final dataset to csv - uploaded to github repo
df_cleaned.to_csv('cleaned_merged_dataset_final_revised.csv')

In [330]:
# export dataset to Excel file to recreate new file including changes 
df_cleaned.to_excel('cleaned_merges_dataset_noextra_revised.xlsx', sheet_name='data')